:root {
  --timing-smooth: cubic-bezier(0.25, 0.1, 0.25, 1);
}

/* Draw */
.anim-draw {
  animation: draw 1s ease-in-out 0.1s forwards;
}

.anim .section-title-icon .icon {
  animation: draw 1s ease-in-out 0.1s forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

/* Darker */
.anim-darker {
  opacity: 0;
  animation: darker 1.3s var(--timing-smooth) 1s forwards;
}

.others__animation__wrapper {
  opacity: 0;
}

.anim .others__animation__wrapper {
  animation: darker 1.3s var(--timing-smooth) 1s forwards;
}

@keyframes darker {
  100% {
    opacity: 1;
  }
}

/* ShowUp X */
.anim-showUpX {
  opacity: 0;
  animation: showUpX 0.7s var(--timing-smooth) 1s forwards;
}

.section-title-word {
  opacity: 0;
}

.anim .section-title-word {
  animation: showUpX 0.7s var(--timing-smooth) 1s forwards;
}

@keyframes showUpX {
  0% {
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ShowUp Y */
.anim-showUpY {
  opacity: 0;
  animation: showUpY 0.3s var(--timing-smooth) 1s forwards;
}

.message__word {
  opacity: 0;
}

.anim .message__word {
  animation: showUpY 0.3s var(--timing-smooth) 1s forwards;
}

.about__subtitle,
.about__list {
  opacity: 0;
}

.anim .about__subtitle,
.anim .about__list {
  animation: showUpY 0.3s var(--timing-smooth) 1s forwards;
}

.skills__title {
  opacity: 0;
}

.anim .skills__title {
  animation: showUpY 0.3s var(--timing-smooth) 1s forwards;
}

.work__content__num,
.work__content__wrapper {
  opacity: 0;
}

.work__content.anim .work__content__num,
.work__content.anim .work__content__wrapper {
  animation: showUpY 0.3s var(--timing-smooth) 1s forwards;
}

.others__subtitle,
.others__toggle__wrapper {
  opacity: 0;
}

.anim .others__subtitle,
.anim .others__toggle__wrapper {
  animation: showUpY 0.3s var(--timing-smooth) 1s forwards;
}

.contact__info,
.contact__form__item {
  opacity: 0;
}

.anim .contact__info,
.anim .contact__form__item {
  animation: showUpY 0.3s var(--timing-smooth) 1s forwards;
}

@keyframes showUpY {
  0% {
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Pit a Pat */
.anim-pitAPat {
  opacity: 0;
  animation: pitAPat 0.6s var(--timing-smooth) 0.6s forwards;
}

.section-title::after {
  opacity: 0;
}

.anim .section-title::after {
  animation: pitAPat 0.6s var(--timing-smooth) 0.6s forwards;
}

.skills__score {
  opacity: 0;
}

.anim .skills__score {
  animation: pitAPat 0.6s var(--timing-smooth) 0.3s forwards;
}

@keyframes pitAPat {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Common */
.anim .section-title-word:nth-child(1) {
  animation-delay: 0s;
}

.anim .section-title-word:nth-child(2) {
  animation-delay: 0.1s;
}

.anim .section-title-word:nth-child(3) {
  animation-delay: 0.2s;
}

.anim .section-title-icon .icon {
  animation-duration: 0.6s;
  animation-delay: 0.7s;
}

/* Home */
.home__copy:nth-child(2) {
  animation-delay: 1.1s;
}

.home__copy:nth-child(3) {
  animation-delay: 1.2s;
}

/* Message */
.anim .message__word:nth-child(1) {
  animation-delay: 0.1s;
}

.anim .message__word:nth-child(2) {
  animation-delay: 0.15s;
}

.anim .message__word:nth-child(3) {
  animation-delay: 0.2s;
}

.anim .message__word:nth-child(4) {
  animation-delay: 0.25s;
}

.anim .message__word:nth-child(5) {
  animation-delay: 0.3s;
}

.anim .message__word:nth-child(6) {
  animation-delay: 0.35s;
}

.anim .message__word:nth-child(7) {
  animation-delay: 0.4s;
}

.anim .message__word:nth-child(8) {
  animation-delay: 0.45s;
}

.anim .message__word:nth-child(9) {
  animation-delay: 0.5s;
}

.anim .message__word:nth-child(10) {
  animation-delay: 0.55s;
}

.anim .message__word:nth-child(11) {
  animation-delay: 0.6s;
}

.anim .message__word:nth-child(12) {
  animation-delay: 0.65s;
}

.anim .message__word:nth-child(13) {
  animation-delay: 0.7s;
}

.anim .message__word:nth-child(14) {
  animation-delay: 0.75s;
}

.anim .message__word:nth-child(15) {
  animation-delay: 0.8s;
}

/* About */
.anim .about__subtitle {
  animation-duration: 1s;
  animation-delay: 1s;
}

.anim .about__list {
  animation-duration: 1s;
}

.anim .about__list:nth-child(2) {
  animation-delay: 1.1s;
}

.anim .about__list:nth-child(3) {
  animation-delay: 1.2s;
}

.anim .about__list:nth-child(4) {
  animation-delay: 1.3s;
}

.anim .about__list:nth-child(5) {
  animation-delay: 1.4s;
}

.anim .about__list:nth-child(6) {
  animation-delay: 1.5s;
}

/* Skills */
.anim .skills__title {
  animation-duration: 0.5s;
}

.anim .skills__title:nth-child(1) {
  animation-delay: 0.5s;
}

.anim .skills__title:nth-child(2) {
  animation-delay: 0.6s;
}

.anim .skills__title:nth-child(3) {
  animation-delay: 0.7s;
}

.anim .skills__title:nth-child(4) {
  animation-delay: 0.8s;
}

/* Work */
.work__content.anim .work__content__wrapper {
  animation-duration: 1.2s;
  animation-delay: 0s;
}

.work__content.anim .work__content__num {
  animation-duration: 1s;
  animation-delay: 0s;
}

/* Others */
.others__toggle__wrapper:nth-child(1) {
  animation-delay: 1.1s;
}

.others__toggle__wrapper:nth-child(2) {
  animation-delay: 1.2s;
}

/* Contact */
.contact__info:nth-child(2) {
  animation-delay: 1.1s;
}

.contact__form__item:nth-child(1) {
  animation-delay: 1.2s;
}

.contact__form__item:nth-child(2) {
  animation-delay: 1.3s;
}

.contact__form__item:nth-child(3) {
  animation-delay: 1.4s;
}

.contact__form__item:nth-child(4) {
  animation-delay: 1.6s;
}
