body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  display: inline-block;
  outline: none;
  padding: 0;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
}

input,
textarea {
  border: 0;
  padding: 0;
}

input:focus,
textarea:focus {
  ouline: 1px solid #000;
}
